{% extends 'base.html' %}

{% block title %} Анкета {% endblock %}

{% block content %}
		<h2>Дайте имена предметам</h2>
			  <div class="container">
    			<a> <img src="static/fork.jpg" width="300" height="270"></a>
			  </div>
			<div class="row">
				<div class="col-md-4">Как это зовут?</div>
				<select name="name" class="col-md-4">
					<option value="male">Петя</option>
					<option value="female">Маша</option>
				</select>
			</div>
			  <div class="container">
    			<a> <img src="static/cloud.png" width="300" height="270"></a>
			  </div>
			<div class="row">
				<div class="col-md-4">Как это зовут?</div>
				<select name="name" class="col-md-4">
					<option value="male">Петя</option>
					<option value="female">Маша</option>
				</select>
			</div>
			  <div class="container">
    			<a> <img src="static/table.jpg" width="300" height="270"></a>
			  </div>
			<div class="row">
				<div class="col-md-4">Как это зовут?</div>
				<select name="name" class="col-md-4">
					<option value="male">Петя</option>
					<option value="female">Маша</option>
				</select>
			</div>
			  <div class="container">
    			<a> <img src="static/cat.jpg" width="300" height="270"></a>
			  </div>
			<div class="row">
				<div class="col-md-4">Как это зовут?</div>
				<select name="name" class="col-md-4">
					<option value="male">Петя</option>
					<option value="female">Маша</option>
				</select>
			</div>
			  <div class="container">
    			<a> <img src="static/pulla.jpg" width="300" height="270"></a>
			  </div>
			<div class="row">
				<div class="col-md-4">Как это зовут?</div>
				<select name="name" class="col-md-4">
					<option value="male">Петя</option>
					<option value="female">Маша</option>
				</select>
			</div>
			  <div class="container">
    			<a> <img src="static/dog.jpg" width="300" height="270"></a>
			  </div>
			<div class="row">
				<div class="col-md-4">Как это зовут?</div>
				<select name="name" class="col-md-4">
					<option value="male">Петя</option>
					<option value="female">Маша</option>
				</select>
			</div>
			  <div class="container">
    			<a> <img src="static/zebra.jpg" width="300" height="270"></a>
			  </div>
			<div class="row">
				<div class="col-md-4">Как это зовут?</div>
				<select name="name" class="col-md-4">
					<option value="male">Петя</option>
					<option value="female">Маша</option>
				</select>
			</div>
			  <div class="container">
    			<a> <img src="static/soup.jpg" width="300" height="270"></a>
			  </div>
			<div class="row">
				<div class="col-md-4">Как это зовут?</div>
				<select name="name" class="col-md-4">
					<option value="male">Петя</option>
					<option value="female">Маша</option>
				</select>
			</div>
			  <div class="container">
    			<a> <img src="static/pivo.jpg" width="300" height="270"></a>
			  </div>
			<div class="row">
				<div class="col-md-4">Как это зовут?</div>
				<select name="name" class="col-md-4">
					<option value="male">Петя</option>
					<option value="female">Маша</option>
				</select>
			</div>
			<div class="row">
				<input class="submit" type="submit" name="submit" value="Отправить">
			</div>
		</form>
{% endblock %}